# Binaries
target/
/fs/
/ramfs/
initfs/
*.bin
*.elf
*.service
*.o
*.a
*.so
*.so.*
*.rlib

# editor config files
.idea/**
.vscode/**
.zed/**

# fossil version control
*.fossil
*.fslckout

# caches and logs
rustc-ice-*.txt
*.log
*.lock

# Pull Request diff and patch files
*.diff
*.patch

# Applications
src/apps/Kagami
src/apps/Binder
